<div class="col-2 py-2" >
<div class="card">
  <% random_number = rand(1..500).to_i %>    
    <img class="card-img-top" src="https://picsum.photos/id/<%= random_number %>/500/280" alt="Imagen aleatoria">  
  <div class="card-body">
    <h5 class="card-title"><%= movie.name %></h5>
        <%= link_to "Show this movie", movie, class: "btn btn-outline-success  btn-sm" %>
     </div>
  </div>
</div>